h1{
    justify-content: center;
    text-align: center;
}
*{
    background-color: #ffffff;
}
h4{
    margin: 31px;
    text-align: right;
}
h3{
    
    text-align: right;
    top: 100%;
    left: 50%;
    transform: translate(-1%, -350%);
}
a{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    justify-content: space-around;
}